<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <permission
        android:name="com.example.siceproyect.permission.READ_DATA"
        android:protectionLevel="normal" />

    <permission
        android:name="com.example.siceproyect.permission.WRITE_DATA"
        android:protectionLevel="normal" />

    <application
        android:name=".SICENETApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SiceProyect">
        <provider
            android:name=".provider.CargaKardexProvider"
            android:authorities="com.example.siceproyect.provider"
            android:exported="true"
            android:readPermission="com.example.siceproyect.permission.READ_DATA"
            android:writePermission="com.example.siceproyect.permission.WRITE_DATA" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SiceProyect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>